.DashboardClubs {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.dashboard-clubs-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid #e6e9ef;
}

.dashboard-clubs-title {
    position: relative;
    flex-shrink: 0;
    float: left;
    font-size: 24px;
    color: #330d51;
    font-weight: bold;
    user-select: none;
    padding-left: 20px;
    margin-right: 10px;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.dashboard-clubs-umbrellas-container {
    position: absolute;
    top: 55px;
    right: 20px;
    z-index: 10000;
}

.dashboard-clubs-umbrellas-list {
    width: 135px;
    height: 65vh;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(215, 215, 225, 0.56);
}

.dashboard-umbrella-label {
    width: 100%;
    height: 20px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #330d51;
    text-align: left;
    padding-top: 15px;
    user-select: none;
    font-style: normal;
    padding-left: 10px;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
    text-overflow: ellipsis;
    background-color: white;
    transition-duration: 0.2s;
}

.dashboard-umbrella-label:hover {
    font-family: 'Gotham-Bold';
    background-color: #e8e1ed;
}

.dashboard-clubs-club-list {
    position: relative;
    left: 0px;
    width: 100%;
    height: calc(100%);
    /* background-color: aquamarine; */
}