.DashboardEventDetail {
    position: absolute;
    z-index: 100000;
    text-align: left;
    overflow-x: hidden;
    background-color: white;
}

.event-detail-close-btn {
    position: fixed;
    top: 15px;
    right: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 100000;
    background: none;
    margin-right: 10px;
    color: lightgray;
    text-decoration: none;
}

.event-detail-background-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    height: 200px;
    display: block;
    object-fit: contain;
    background-color: slategray;
}

.event-detail-calender-btn {
    position: relative;
    font-size: 14px;
    padding: 5px;
    line-height: 1.6;
    color: #330d51;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    font-style: normal;
    padding-right: 20px;
    font-weight: normal;
    border-radius: 11px;
    font-stretch: normal;
    font-family: 'Montserrat';
    letter-spacing: normal;
    border: 1px solid #330d51;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
}

.event-detail-date-area {
        /* position: relative; */
    width: 85px;
    height: 85px;
    margin-top: 30px;
    margin-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 6px;
    background-color: white;
    border: solid 1px #dfceeb;
}
.event-detail-date-1 {
    text-align: center;
    /* position: relative; */
    /* bottom: 15px; */
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    margin: 10px 0 0 0;
    /* padding-left: 28.5px; */
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
    font-weight: bold;
}
.event-detail-date-2 {
    position: relative;
    /* bottom: 40px; */
    font-size: 25px;
    color: #8568dd;
    font-weight: bold;
    font-style: normal;
    /* padding-left: 20px; */
    text-align: center;
    line-height: 1em;
    margin: 0;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
    font-weight: bold;
}

.event-detail-bottom {
    padding: 10px;
}

.event-detail-title {
    position: relative;
    top: -140px;
    left: 110px;
    color: #323232;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 10px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-line;
    letter-spacing: normal;
    width: calc(100% - 110px);
    font-family: 'Montserrat';
    /* background-color: aqua; */
}
.event-detail-host {
    position: relative;
    width: 60%;
    left: 110px;
    top: -170px;
    font-size: 14px;
    color: #323232;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    display: inline-block;
    font-family: 'Montserrat';
    letter-spacing: normal;
    /* background-color: yellowgreen; */
}
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .event-detail-host {
        top: -20px;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .event-detail-host {
        top: -60px;
    }
} */

.event-detail-event-info-label {
    position: relative; 
    font-size: 24px;
    margin-top: -120px;
    color: #330d51;
    margin-left: 15px;
    top: 0;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
    font-weight: bold;
}
.event-date-label {
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 15px;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Montserrat';
    letter-spacing: normal;
}
.event-location-label {
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 15px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Montserrat';
    letter-spacing: normal;
}

.event-detail-description-label {
    position: relative;
    font-size: 24px;
    margin-top: 40px;
    color: #330d51;
    margin-left: 15px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
    font-weight: bold;
}
.event-detail-description {
    position: relative;
    font-size: 15px;
    font-weight: 300;
    color: #323232;
    line-height: 1.47;
    margin-left: 15px;
    margin-right: 15px;
    font-style: normal;
    margin-bottom: 50px;
    font-stretch: normal;
    font-family: 'Montserrat';
    letter-spacing: normal;
}