.DashboardDiscover {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.dashboard-discover-header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e6e9ef;
}
.dashboard-discover-title {
    position: relative;
    float: left;
    font-size: 28px;
    color: #330d51;
    font-weight: bold;
    user-select: none;
    padding-left: 15px;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}
.dashboard-discover-filter-btn {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 25px;
    height: 25px;
    float: right;
    border: none;
    outline: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 100%;
    text-decoration: none;
    transition-duration: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    background: linear-gradient(to left, #3cced9, #8568dd);
}
.dashboard-discover-filter-btn:hover {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.35);
}
.dashboard-discover-umbrella-btn {
    position: absolute;
    right: -30px;
    float: right;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 12px;
    user-select: none;
    margin-right: 70px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 1px rgba(215, 215, 225, 0.56);
}
.dashboard-discover-umbrellas-list {
    position: absolute;
    top: 55px;
    right: 40px;
    width: 135px;
    z-index: 10000;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(215, 215, 225, 0.56);
}
.dashboard-umbrella-label {
    width: 100%;
    height: 20px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #330d51;
    text-align: left;
    padding-top: 15px;
    user-select: none;
    font-style: normal;
    padding-left: 10px;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
    text-overflow: ellipsis;
    background-color: white;
    transition-duration: 0.2s;
}
.dashboard-umbrella-label:hover {
    font-family: 'Gotham-Bold';
    background-color: #e8e1ed;
}



.dashboard-discover-club-list {
    position: relative;
    left: 0px;
    width: 100%;
    height: calc(100% - 60px);
    /* background-color: aquamarine; */
}
.dashboard-club-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 83px;
    cursor: pointer;
    border-bottom: 1px solid #d7d7e1;
}
.dashboard-club-item-image {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #330d51;
}
.dashboard-club-item-title {
    position: absolute;
    top: 0px;
    left: 90px;
    font-size: 16px;
    color: #323232;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}
.dashboard-club-item-tag {
    position: absolute;
    top: 50px;
    left: 90px;
    font-size: 10px;
    line-height: 1.6;
    font-weight: bold;
    font-style: normal;
    border-radius: 10px;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}
.dashboard-club-item-tag > p {
    position: relative;
    left: 15px;
    bottom: 41px;
    color: #2c2b55;
    text-align: left;
    font-size: 12px;
    font-family: 'Gotham-Bold';
}
.dashboard-club-item-tag-bubble {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}