.DashboardProfile {
    top: 60px;
    display: flex;
    flex-flow: column;
    z-index: 100000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-x: hidden;
    background-color: white;
    border-top: solid 1px #e6e9ef;
}

.dashboard-profile-action-button-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.dashboard-profile-action-button {
  width: 170px;
  height: 29px;
  border-radius: 3px;
  margin: 5px;
  font-family: Gotham;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  outline: none;
}

.dashboard-profile-action-button-primary {
    border: none;
    cursor: pointer;
    color: #ffffff;
    transition-duration: 0.2s;
    background-color: #8568dd;
}
.dashboard-profile-action-button-primary:hover {
    background-color: #6953ac;
}
.dashboard-profile-action-button-primary:active {
    background-color: #56448d;
}

.dashboard-profile-action-button-clear {
    color: #626181;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.2s;
    border: solid 1px #d7d7e1;
}
.dashboard-profile-action-button-clear:hover {
    background-color: rgb(241, 241, 241);
}
.dashboard-profile-action-button-clear:hover {
    background-color: rgb(206, 206, 206);
}

.dashboard-profile-back-btn, .dashboard-profile-edit-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    text-decoration: none;
}
.dashboard-profile-back-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: #626181;
    margin-top: 35px;
    margin-left: 10px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.dashboard-profile-picture {
    position: relative;
    width: 125px;
    height: 125px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: lightgray;
}
.dashboard-profile-image {
    margin: 0 auto;
    height: 100px;
    margin-top: 95px;
}
.dashboard-profile-fullname {
    position: relative;
    font-size: 22px;
    color: #330d51;
    font-weight: bold;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.dashboard-profile-school {
    position: relative;
    font-size: 13px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 1.38;
    margin-top: -15px;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.dashboard-profile-alert {
    position: relative;
    top: 200px;
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: white;
}
.dashboard-profile-close-alert-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 28px;
    cursor: pointer;
    margin-top: 10px;
    color: #f3edf7;
    background: none;
    margin-right: 25px;
    text-decoration: none;
}
.dashboard-profile-alert-image {
    position: relative;
    top: 20px;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: lightgray;
}
.dashboard-profile-alert-title {
    font-size: 18px;
    color: #330d51;
    margin-top: 35px;
    line-height: 1.22;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}
.dashboard-profile-alert-tag {
    position: relative;
    width: 50px;
    height: 20px;
    padding: 3px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
    color: #330d51;
    padding-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    display: inline-block;
    background-color: #e8e1ed;
}