.dashboard-discover-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid #e6e9ef;
}

.dashboard-discover-title {
    position: relative;
    flex-shrink: 0;
    float: left;
    font-size: 24px;
    color: #330d51;
    font-weight: bold;
    user-select: none;
    padding-left: 20px;
    margin-right: 10px;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;

    font-weight: bold;
}

.dashboard-discover-filter-btn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 100%;
    text-decoration: none;
    transition-duration: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    background: linear-gradient(79deg, #561389, #c24785);
}

.dashboard-discover-filter-btn:hover {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.dashboard-discover-umbrella-btn {
    position: absolute;
    right: -30px;
    float: right;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 12px;
    user-select: none;
    margin-right: 70px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 1px rgba(215, 215, 225, 0.56);
}

.dashboard-discover-umbrellas-list {
    position: absolute;
    top: 55px;
    right: 40px;
    width: 135px;
    z-index: 10000;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(215, 215, 225, 0.56);
}

.dashboard-club-item {
    width: 100%;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    cursor: pointer;
    overflow: hidden;
    padding: 4px 15px;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #d7d7e1;
    transition-duration: 0.2s;
}

.dashboard-club-item:focus {
    font-weight: bold;
    background-color: #e8e1ed;
    outline: none !important;
}

.dashboard-club-item-vert {
    display: flex;
    flex-flow: column;
    /* flex-grow: 2; */
    height: 100%;
    justify-content: center;
    margin: 0px 20px;
}

.dashboard-club-item-image {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    background-color: #330d51;
}

.dashboard-club-item-title {
    font-size: 15px;
    color: #323232;
    height: 2.4rem;
    overflow: hidden;
    text-align: left;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 0px;
    /* Only Safari and Chrome is supported. Text will be trucated
    in other browsers */
}

.dashboard-line-clamp {
    /*DO NOT remove autoprefixer unless create react app fixes this bug  */
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* .dashboard-club-item-title::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
} */

.dashboard-club-item-tag {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    /* line-height: 1.6; */
    font-weight: 100;
    font-style: normal;
    border-radius: 10px;
    font-stretch: normal;

    letter-spacing: normal;
}

.dashboard-club-item-tag>p {
    color: #2c2b55;
    text-align: left;
    font-size: 12px;

    margin-left: 5px;
}

.dashboard-club-item-tag-bubble {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
