.LoginLanding {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

.login-landing-logo {
    display: block;
    width: 200px;
    margin: 15% auto 20px;
}

.login-landing-text {
    width: 200px;
    margin: 0 auto 20px;
    font-family: 'Gotham';
    color: #626181;
}

.login-landing-login-btn {
    width: 140px;
    height: 35px;
    margin: 0 auto 30px;
    padding-top: 5px;
    border-radius: 9px;
    border: none;
    background-image: linear-gradient(90deg, #561389, #cc6699);
    color: #fff;
    font-family: 'Gotham-Bold';
    font-size: 14px;
}

.login-landing-promotion {
    display: block;
    width: 170px;
    margin: 0 auto;
}