.LoginClubMatch {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.login-club-matches-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 100;
    padding-bottom: 25px;
    padding: 25px 0 25px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    transition: height 0.3s;
}

.login-club-matches-header-tall {
    overflow: hidden;
    transition: height 0.3s;
}

.login-club-matches-header-short {
    padding: 0 20px;
    text-align: start;
}

.login-club-matches-body {
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
}

.login-club-matches-skip-btn {
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    background: none;
    margin: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-bottom: 30px;
    font-family: 'Gotham';
}

.login-club-matches-skip-btn:active {
    text-decoration: underline;
}

.login-club-matches-title {
    position: relative;
    font-size: 18px;
    color: #330d51;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-club-matches-title>span {
    color: #8568dd;
}

.login-club-matches-subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #323232;
    text-align: center;
    font-style: normal;
    padding-left: 40px;
    padding-right: 40px;
    line-height: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.login-club-matches-button-title {
    font-size: 15px;
    color: #323232;
    margin-top: 20px;
    line-height: 1.47;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-club-matches-go-back {
    line-height: 30px;
    color: #8568dd;
    cursor: pointer;
}

.filter-button-sm,
.filter-button {
    position: relative;
    border: none;
    color: white;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    background: linear-gradient(to left, #3cced9, #8568dd);
}

.filter-button {
    width: 190px;
    height: 47px;
}

.filter-button-sm {
    float: right;
    width: 95px;
    height: 30px;
}

.filter-button:hover {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.35);
}

.filter-button:active {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.35);
}

.filter-button>p>span {
    position: relative;
    padding-left: 7px;
}

.login-club-matches-category-section {
    width: 95%;
    text-align: center;
    /* background-color: lightcoral; */
}

.login-club-matches-category-section-title {
    font-size: 18px;
    color: #330d51;
    text-align: left;
    line-height: 1.33;
    font-weight: bold;
    padding-left: 10px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-club-matches-category-section-subtitle {
    font-size: 14px;
    color: #323232;
    text-align: left;
    margin-top: -10px;
    line-height: 1.78;
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.login-club-matches-category-section-subtitle>span {
    color: #3cced9;
    font-family: 'Gotham-Bold';
}

.login-club-matches-club-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition-duration: 0.2s;
    /* background-color: lightgreen; */
}

.login-club-matches-see-more-btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    color: #330d51;
    background: none;
    line-height: 2.29;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
    font-stretch: normal;
    text-decoration: none;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.club-item {
    width: 160px;
    text-align: left;
    user-select: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}

@media (max-width: 375px) {
    .club-item {
        min-width: 160px;
        width: 45%;
        margin-left: 10px;
        margin-right: 0;
    }
}

.login-club-matches-finish-btn {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: unset !important;
    display: block;
    font-size: 15px;
    padding: 20px;
    /* text-transform: none; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */
    font-family: 'Gotham';
    transition-duration: 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background: -o-linear-gradient(right, #3cced9, #8568dd) !important;
    background: -webkit-gradient(linear, right top, left top, from(#3cced9), to(#8568dd)) !important;
    background: -webkit-linear-gradient(right, #3cced9, #8568dd) !important;
    background: linear-gradient(to left, #3cced9, #8568dd) !important;
}

.login-club-matches-finish-btn:hover {
    color: rgb(221, 221, 221);
}

.login-club-matches-finish-btn:active {
    color: rgb(190, 190, 190);
}

/* Club Detail View */

@keyframes detailFadeIn {
    from {
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    to {
        top: 0px;
        left: 0px;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

@keyframes longClubListFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.club-detail-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 8px 7px -2px rgba(215, 215, 225, 0.42);
}

.club-detail-body {
    z-index: 1;
    width: 100%;
    background-color: white;
}

.club-detail-list-view {
    position: static;
    /* top: 80px; */
    left: 0px;
    width: 100%;
    /* height: auto; */
    z-index: 0;
    text-align: left;
    overflow-x: hidden;
    margin-bottom: 80px;
    background-color: white;
    -webkit-animation: detailFadeIn 0.5s ease-in-out;
    animation: detailFadeIn 0.5s ease-in-out;
}

.club-detail-list-back-btn {
    position: absolute;
    top: 25px;
    left: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: #8568dd;
    background: none;
    line-height: 1.69;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.club-detail-list-filter-btn {
    /* position: absolute; */
    /* top: 25px; */
    /* right: 20px; */
    /* width: 100px; */
    /* height: 40px; */
    font-size: 14px;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    padding-bottom: 20px;
}

.club-detail-list-section-title {
    position: relative;
    top: 50px;
    /* left: 20px; */
    font-size: 18px;
    color: #330d51;
    text-align: left;
    line-height: 0.89;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.club-detail-list-section-subtitle {
    position: relative;
    top: 70px;
    /* left: 30px; */
    font-size: 15px;
    color: #323232;
    text-align: left;
    line-height: 1.47;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}

.club-detail-list-club-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation: longClubListFadeIn 2s ease-in-out;
}