.LoginInterestSelection {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.login-interests-info-btn {
    position: relative;
    top: 20px;
    right: 10px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    color: #dfceeb;
    background: none;
    text-align: right;
    text-decoration: none;
    transition-duration: 0.2s;
}
.login-interests-info-btn:hover {
    color: #b8a4c7;
}
.login-interests-info-btn:active {
    color: #9a85aa;
}

.login-interests-title {
    position: relative;
    font-size: 28px;
    margin: 60px 0;
    color: #330d51;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-left: 40px;
    padding-right: 40px;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-interests-selections {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 80px;
    /* background-color: seagreen; */
}
.interest-item {
    width: 140px;
    box-sizing: border-box;
    /* height: 180px; */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0 0 0;
    /* padding-right: 10px; */
    margin-bottom: 10px;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* background-color: crimson; */
}
.interest-item:hover {
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}
.interest-item:active {
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.35);
}
.interest-image-circle {
    /* top: 50px; */
    /* font-size: 30px; */
    margin: auto;
    border-radius: 100%;
    /* left: calc(140px / 2 - 15%); */
    background-color: #d7d7e1;
    /* vertical-align: unset; */
    width: 60px;
    /* line-height: 1.5em; */
    height: 60px;
}
.interest-image-emoji {
    /* position: absolute; */
    position: relative;
    top: 8px;
    /* width: 54px; */
    font-size: 30px;
    padding-top: 5px;
    /* border-radius: 100%; */
    /* left: calc(140px / 2 - 15%); */
    /* background-color: #d7d7e1; */
    vertical-align: unset;
    /* width: 60px; */
    line-height: 1.5em;
    /* height: 55px; */
}
.interest-title {
    width: 100%;
    top: calc(65%);
    font-size: 1rem;
    color: #330d51;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-interests-finish-btn {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: unset !important;
    display: block;
    font-size: 15px;
    padding: 20px;
    /* text-transform: none; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */
    font-family: 'Gotham';
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.35);
    background: -o-linear-gradient(79deg, #561389, #c24785) !important;
    background: -webkit-linear-gradient(79deg, #561389, #c24785) !important;
    background: linear-gradient(79deg, #561389, #c24785) !important;
}
