.LoginMatching {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.LoginMatching > h2 {
    font-size: 22px;
    color: #330d51;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.LoginMatching > p {
    font-size: 15px;
    font-weight: 300;
    color: #323232;
    text-align: center;
    font-style: normal;
    padding-left: 60px;
    padding-right: 60px;
    line-height: normal;
    font-stretch: normal;
    font-family: 'Gotham';
    letter-spacing: normal;
}