.LoginClubFilter {
    position: absolute;
    width: 100%;
    /* height: 1px; */
    z-index: 10000000;
    background-color: white;
    /* background-color: orchid; */
}

.login-club-filter-close-btn {
    position: fixed;
    top: 20px;
    z-index: 1;
    right: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: none;
    color: #8061DB;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    letter-spacing: normal;
    transition-duration: 0.2s;
}

.login-club-filter-close-btn:hover {
    color: #c4b6ce;
}

.login-club-filter-close-btn:active {
    color: #a69aad;
}

.login-club-filter-title {
    position: relative;
    width: 50%;
    font-size: 28px;
    color: #330d51;
    margin-top: 30px;
    font-weight: bold;
    margin-left: auto;
    font-weight: bold;
    margin-right: auto;
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.login-club-filter-subtitle {
    font-size: 15px;
    color: #323232;
    font-weight: 300;
    line-height: 1.47;
    font-style: normal;
    text-align: center;
    margin-bottom: 25px;
    font-stretch: normal;

    letter-spacing: normal;
}

.login-club-filter-section {
    margin-bottom: 30px;
    /* background-color: lightcoral; */
}

.login-club-filters-filter-section {
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    /* background-color: mediumpurple; */
}

.login-club-filter-section-title {
    font-size: 20px;
    color: #323232;
    max-width: 337px;
    text-align: left;
    font-weight: bold;
    font-weight: bold;
    font-style: normal;
    padding-left: 20px;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.login-club-filter-section-items {
    width: 100vw;
    text-align: center;
    /* background-color: mediumturquoise; */
}

fieldset {
    position: relative;
    width: 100%;
    /* float: left; */
    /* text-align: left; */
    background-color: white;
    border:0 none;
}
.filter-item{
    width:100%;
    display:block;
    margin-bottom: 10px;
    margin-top: 10px;
    /* background-color: goldenrod; */
}
legend{
    left: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 35px;
    box-sizing: border-box;
    font-size: 15px;
    color: #323232;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    display: inline-block;
    letter-spacing: normal;
    /* text-align: left; */
}
label{
  position:absolute;
  left:0;
}

.filter-item-title {
    width: 100%;
    font-size: 15px;
    color: #323232;
    text-align: left;
    overflow-x: hidden;
    font-style: normal;
    padding-left: 20px;
    white-space: nowrap;
    padding-right: 35px;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    display:inline-block;
    letter-spacing: normal;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.filter-item-checkbox-input {
    position: absolute;
    right: 0px;
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
}
.filter-item-checkbox-checked,
.filter-item-checkbox-unchecked {
    position: relative;
    right: 5px;
    width: 20px;
    height: 15px;
    float: right;
    font-size: 12px;
    cursor: pointer;
    color: #561389;
    padding-top: 3px;
    text-align: center;
    border-radius: 4px;
    margin-right: 15px;
    padding-bottom: 2px;
    /* display: inline-block; */
    transition-duration: 0.2s;
    background-color: cornflowerblue;
}
.filter-item-checkbox-checked {
    border: 1px solid #561389;
    background-color: #f3edf7;
}
.filter-item-checkbox-unchecked {
    background-color: white;
    border: 1px solid #4a4a4a;
}

.filter-item-checkbox-checked:hover,
.filter-item-checkbox-unchecked:hover {
    background-color: #e5d9eb;
}

.filter-item-checkbox-checked:active,
.filter-item-checkbox-unchecked:active {
    background-color: #d4c2e0;
}

.login-club-filters-filter-btn {
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    /* padding-top: 5px; */
    font-weight: bold;
    text-align: center;
    font-style: normal;
    width: 220px !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    line-height: normal;
    font-stretch: normal;
    padding-top: 4px;
    letter-spacing: normal;
    font-weight: bold;
}
