.LoginInterestSelection {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    overflow-x: hidden;
    text-align: center;
    margin-right: auto;
    background-color: white;
}

.login-interests-info-btn {
    position: relative;
    top: 20px;
    right: 10px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    color: #dfceeb;
    background: none;
    text-align: right;
    text-decoration: none;
    transition-duration: 0.2s;
}
.login-interests-info-btn:hover {
    color: #b8a4c7;
}
.login-interests-info-btn:active {
    color: #9a85aa;
}

.login-interests-title {
    position: relative;
    font-size: 28px;
    margin-top: 60px;
    color: #330d51;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-left: 40px;
    padding-right: 40px;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-interests-selections {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: seagreen; */
}
.interest-item {
    width: 140px;
    /* height: 180px; */
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 10px;
    /* padding-right: 10px; */
    margin-bottom: 10px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.3s;
    /* background-color: #f3edf7;
    border: 2px solid #dfceeb; */
    /* background-color: crimson; */
}
.interest-item:hover {
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}
.interest-item:active {
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.35);
}
.interest-image-circle {
    top: 50px;
    /* font-size: 30px; */
    margin: auto;
    border-radius: 100%;
    left: calc(140px / 2 - 15%);
    background-color: #d7d7e1;
    /* vertical-align: unset; */
    width: 60px;
    /* line-height: 1.5em; */
    height: 60px;
}
.interest-image-emoji {
    /* position: absolute; */
    /* top: 50px; */
    /* width: 54px; */
    font-size: 30px;
    padding-top: 5px;
    /* border-radius: 100%; */
    /* left: calc(140px / 2 - 15%); */
    /* background-color: #d7d7e1; */
    vertical-align: unset;
    /* width: 60px; */
    line-height: 1.5em;
    /* height: 55px; */
}
.interest-title {
    width: 100%;
    top: calc(65%);
    font-size: 1rem;
    color: #330d51;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Gotham-Bold';
}

.login-interests-finish-btn {
    position: relative;
    width: 200px;
    display: block;
    font-size: 14px;
    padding-top: 2px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: 'Gotham-Bold';
}