.LoginLanding {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

.login-landing-logo {
    display: block;
    width: 200px;
    margin: 15% auto 20px;
}

.login-landing-text {
    width: 200px;
    margin: 0 auto 20px;
    font-family: 'Gotham';
    font-weight: 700;
    color: #626181;
}

.login-landing-login-btn {
    width: 140px;
    height: 35px;
    border: none;
    color: #fff;
    outline: none;
    font-size: 14px;
    padding: 5px;
    padding-top: 7px;
    border-radius: 5px;
    margin: 0 auto 30px;
    transition-duration: 0.2s;
    font-family: 'Gotham-Bold';
    background: -o-linear-gradient(right, #3cced9, #8568dd) !important;
    background: -webkit-linear-gradient(to left, #3cced9, #8568dd) !important;
    background: linear-gradient(to left, #3cced9, #8568dd) !important;
}
.login-landing-login-btn:hover {
    color: rgb(211, 211, 211);
    background-image: linear-gradient(100deg, #3f0e64, #9e4f77);
}
.login-landing-login-btn:active {
    color: rgb(185, 185, 185);
    background-image: linear-gradient(120deg, #340c53, #7c3e5d);
}

.login-landing-promotion {
    display: block;
    width: 170px;
    margin: 0 auto;
}
