* {
    /* font-family: "Gotham SSm A"; */
    font-family: 'Montserrat'
}

.App {
    text-align: center;
}

.overlay {
    position: fixed;
    overflow-y: auto;
}

.round-rect-button {
    width: 150px;
    /* height: 35px; */
    border: none;
    color: #fff;
    outline: none;
    font-size: 14px;
    user-select: none;
    /* padding-top: 5px; */
    border-radius: 5px;
    margin: 0 auto 30px;
    font-weight: bold;
    background: -o-linear-gradient(79deg, #561389, #c24785);
    background: -webkit-linear-gradient(79deg, #561389, #c24785);
    background: linear-gradient(79deg, #561389, #c24785);
}


.bottom-rect-button {
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    user-select: none;
    /* padding-top: 5px; */
    /* border-radius: 5px; */
    /* margin: 0 auto 30px; */
    font-weight: bold;
    background: -o-linear-gradient(79deg, #561389, #c24785) !important;
    background: -webkit-linear-gradient(79deg, #561389, #c24785) !important;
    background: linear-gradient(79deg, #561389, #c24785) !important;
}

.round-rect-button:hover {
    color: rgb(211, 211, 211);
    background-color: #330d51;
}

.round-rect-button:active {
    color: rgb(194, 194, 194);
    background-color: #200635;
}

.pill-button {
    /* outline: none; */
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.club-card {
    position: relative;
    /* width: 160px; */
    height: 100%;
    /* max-height: 210px; */
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 4px #e6e9ef;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
}

.club-card:hover {
    box-shadow: 0 0 20px 8px #d7dae0;
}

.club-card-top {
    position: relative;
    width: 100%;
    height: 82%;
}

.club-card-image-area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: gray;
    border-radius: 2px 2px 0px 0px;
}

.club-card-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.club-card-title {
    /* position: relative; */
    top: -5px;
    left: 8px;
    font-size: 14px;
    line-height: 1.1;
    color: #323232;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 15px;
    font-style: normal;
    margin-bottom: -5px;
    font-stretch: normal;
    letter-spacing: normal;
    
    font-weight: bold;
    line-height: 1.4rem;
}

.club-card-tags {
    position: relative;
    left: 15px;
    width: 10px;
    height: 10px;
    color: black;
    font-size: 12px;
    user-select: none;
    border-radius: 25px;
    display: inline-block;
}

.club-card-tags-label {
    
    word-wrap: break-word;
    width: 100px;
    position: relative;
    left: 25px;
    color: black;
    font-size: 12px;
    user-select: none;
    border-radius: 25px;
    display: inline-block;
}

.club-card-follow-button {
    position: absolute;
    width: 68px;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 10px;
    color: #330d51;
    /* padding-top: 8px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    
    font-weight: 500;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #ffffff;
    border: solid 2px #330d51;
    bottom: 0px;
    left: calc(100% / 2 - 40px);
    margin-bottom: 10px;
    margin-top: 10px;
}

.club-card-follow-button:hover {
    box-shadow: 0 0 10px 4px #340d5121;
}

.club-card-follow-button:active {
    box-shadow: 0 0 10px 5px #340d513b;
}

.event-item {
    display: flex;
    width: 92%;
    height: 80px;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 20px;
    transition-duration: 0.2s;
    background-color: #ffffff;
    border-bottom: solid 1px #d7d7e1;
}

.event-item:hover {
    box-shadow: 2px 2px 15px 2px #d7d9df;
}

.event-item-host>span {
    color: #323232;
    
    font-weight: bold;
}

.event-left {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.event-middle {
    width: 60%;
    height: 100%;
}

.event-right {
    width: 20%;
    height: 100%;
}

.event-date-area {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: solid 1px #dfceeb;
}

.event-date-area>p:nth-child(1) {
    position: relative;
    /* top: -5px; */
    /* height: 40%; */
    font-size: 25px;
    color: #330d51;
    margin-left: auto;
    margin: unset;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    
    font-weight: bold;
}

.event-date-area>p:nth-child(2) {
    position: relative;
    /* top: -30px; */
    /* height: 40%; */
    font-size: 18px;
    color: #561389;
    margin: unset;
    margin-right: auto;
    text-align: center;
    
    font-weight: bold;
}

.event-info-area {
    text-align: left;
    padding: 10px 15px 0;
}

.event-title {
    font-size: 14px;
    margin: 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323232;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    
    font-weight: bold;
    height: 1em;
    overflow: hidden;
}

.event-subtitle {
    font-size: 12px;
    margin: 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    color: #323232;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    text-overflow: ellipsis;
    height: 1em;
    overflow: hidden;
}

.event-date {
    font-size: 12px;
    margin: 0 0 5px;
    color: #323232;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    height: 1.2em;
    overflow: hidden;
}

.event-location {
    font-size: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #323232;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    text-overflow: ellipsis;
    height: 1em;
}

.fa-clock,
.fa-map-marker-alt {
    color: #8568dd;
}

.event-calendar-area {
    text-align: center;
}

.fa-calendar-alt {
    font-size: 1rem;
    color: #330d51;
    padding-top: 12px;
}

.event-calendar-label {
    font-size: 0.7rem;
    color: #330d51;
    margin: 5px 0 0;
    line-height: 1.4;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    letter-spacing: normal;
    
    font-weight: bold;
}

.no-results-view-emoji {
    color: #dfceeb;
    font-size: 20px;
    margin-bottom: -5px;
}

.no-results-view-title {
    color: #dfceeb;
    font-size: 15px;
    line-height: 1.47;
    font-weight: bold;
    user-select: none;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    letter-spacing: normal;
    
    font-weight: bold;
}

.no-results-view-subtitle {
    color: #dfceeb;
    font-size: 14px;
    line-height: 1.47;
    font-weight: bold;
    user-select: none;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    letter-spacing: normal;
    
}
