.App {
	text-align: center; 
}

.overlay {
	position: fixed;
	overflow-y: auto;
}

.round-rect-button {
	height: 40px;
	border: none;
	outline: none;
	color: white;
	background: none;
	text-decoration: none;
	transition-duration: 0.2s;
	background-color: #561389;
}
.round-rect-button:hover {
	color: rgb(211, 211, 211);
	background-color: #330d51;
}
.round-rect-button:active {
	color: rgb(194, 194, 194);
	background-color: #200635;
}

.pill-button {
	outline: none;
	cursor: pointer;
	border-radius: 25px;
	text-decoration: none;
	transition-duration: 0.2s;
}

.club-card {
	position: relative;
	width: 158px;
	height: 220px;
	cursor: pointer;
	text-align: left;
	border-radius: 4px;
	transition-duration: 0.2s;
	background-color: #ffffff;
	box-shadow: 0 0 10px 4px #e6e9ef;
}
.club-card:hover {
	box-shadow: 0 0 20px 8px #d7dae0;
}
.club-card-top {
	position: relative;
	width: 100%;
	height: 82%;
}
.club-card-image-area {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	user-select: none;
	background-color: gray;
	border-radius: 2px 2px 0px 0px;
}
.club-card-image {
	position: relative;
	width: 100%;
	height: 100%;
}
.club-card-title {
	position: relative;
	top: -5px;
	left: 8px;
	font-size: 16px;
	line-height: 1.1;
	color: #323232;
	font-weight: bold;
	user-select: none;
	font-style: normal;
	margin-bottom: -5px;
	font-stretch: normal;
	letter-spacing: normal;
	font-family: 'Gotham-Bold';
}
.club-card-tags {
	position: relative;
	left: 8px;
	width: 10px;
	height: 10px;
	color: white;
	font-size: 12px;
	user-select: none;
	border-radius: 25px;
	display: inline-block;
}
.club-card-tags-label {
	position: relative;
	left: 12px;
	color: black;
	font-size: 12px;
	user-select: none;
	border-radius: 25px;
	display: inline-block;
	font-family: 'Gotham-Bold';
}
.club-card-follow-button {
	position: relative;
	width: 80px;
	padding: 5px;
    cursor: pointer;
	margin-top: 5px;
    font-size: 12px;
    color: #330d51;
	padding-top: 8px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	border-radius: 25px;
    font-family: 'Gotham';
    transition-duration: 0.5s;
    background-color: #ffffff;
    border: solid 1px #330d51;
}
.club-card-follow-button:hover {
    box-shadow: 0 0 10px 4px #340d5121;
}
.club-card-follow-button:active {
    box-shadow: 0 0 10px 5px #340d513b;
}


.event-item {
    width: 95%;
	height: 120px;
	cursor: pointer;
    border-radius: 2px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	transition-duration: 0.2s;
	background-color: #ffffff;
    box-shadow: 0 0 10px 2px #e6e9ef;
}
.event-item:hover {
	box-shadow: 2px 2px 15px 2px #d7d9df;
}
.event-item-host > span {
    color: #323232;
    font-family: 'Gotham-Bold';
}
.event-left {
	width: 25%;
	height: 100%;
	text-align: center;
	display: inline-block;
	/* background-color: lightseagreen; */
}
.event-middle {
	width: 55%;
	height: 100%;
	display: inline-block;
	/* background-color: lightcoral; */
}
.event-right {
	width: 20%;
	height: 100%;
	display: inline-block;
	/* background-color: cornflowerblue; */
}
.event-date-area {
	position: relative;
	top: 0px;
	left: 0px;
	width: 80%;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	border: solid 1px #dfceeb;
}
.event-date-area > p:nth-child(1) {
	position: relative;
	top: -5px;
	height: 40%;
	font-size: 25px;
	color: #330d51;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Gotham-Bold';
}
.event-date-area > p:nth-child(2) {
	position: relative;
	top: -30px;
	height: 40%;
	font-size: 18px;
	color: #561389;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Gotham-Bold';
}
.event-info-area {
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
	text-align: left;
	padding-left: 10px;
	/* background-color: goldenrod; */
}
.event-title {
	font-size: 15px;
	color: #323232;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-stretch: normal;
	letter-spacing: normal;
	font-family: 'Gotham-Bold';
}
.event-subtitle {
	font-size: 12px;
	color: #323232;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-stretch: normal;
	font-family: 'Gotham';
	letter-spacing: normal;
	text-overflow: ellipsis;
}
.event-date {
	font-size: 12px;
	color: #323232;  
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-stretch: normal;
	font-family: 'Gotham';
	letter-spacing: normal;
}
.event-location {
	font-size: 12px;
	color: #323232;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-stretch: normal;
	font-family: 'Gotham';
	letter-spacing: normal;
}
.fa-clock, .fa-map-marker-alt {
	color: #8568dd;
}
.event-calendar-area {
	position: absolute;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.fa-calendar-alt {
	font-size: 1rem;
	color: #330d51;
	padding-top: 40px;
	padding-right: 10px;
}
.event-calendar-label {
	font-size: 0.8rem;
	color: #330d51;
	line-height: 1.4;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	padding-right: 10px;
	font-stretch: normal;
	letter-spacing: normal;
	font-family: 'Gotham-Bold';
}