.App {
	text-align: center; 
}

.round-rect-button {
	height: 40px;
	border: none;
	outline: none;
	color: white;
	background: none;
	text-decoration: none;
	transition-duration: 0.2s;
	background-color: #561389;
}
.round-rect-button:hover {
	color: rgb(211, 211, 211);
	background-color: #330d51;
}
.round-rect-button:active {
	color: rgb(194, 194, 194);
	background-color: #200635;
}