
.club-list {
    left: 0px;
    width: 100%;
    max-width: none;
    height: calc(100% - 63px);
    overflow-y: auto;
    position: absolute;
    scroll-behavior: smooth;
}

.club-list:focus {
    outline: 1px;
}
