.collectionView {
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100%; */
    /* align-items: stretch; */
    overflow-y: auto;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transition: 0.2s;
}

#popupList::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}
#popupList {
    overflow: scroll;
    white-space: pre-wrap;
}

.collectionView > div {
    /* position: relative; */
    /* display: inline-block; */
    text-decoration: none;
}